<ion-header>
  <ion-toolbar>
    <ion-title>Account</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Account</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item lines="none">
        <ion-label>
          {{ userDetails.name }}<br>
          {{ userDetails.phone }}<br>
           {{ userDetails.email }}
        </ion-label>
        <ion-button slot="end" fill="clear" (click)="editDetails()">Edit</ion-button>
      </ion-item>

      <ion-item lines="full" detail (click)="openManageAddresses()">
        <ion-icon name="navigate" slot="start"></ion-icon>
        Manage Addresses
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-list>
    <ion-list-header>
      Past Orders
    </ion-list-header>
    <ion-item *ngFor="let order of pastOrders">
      <ion-thumbnail slot="start" *ngIf="order.items?.length > 0">
        <ion-img [src]="order.items[0]?.image"></ion-img>
      </ion-thumbnail>
      <ion-label>
        {{ order.restaurant }}
        <p *ngFor="let item of order.items">{{ item.name }} x{{ item.quantity }} - {{ item.price | currency:'R':'symbol':'1.0-2' }}</p>
        <p>Total: {{ order.orderTotal | currency:'R':'symbol':'1.0-2' }}</p>
      </ion-label>
      <ion-button slot="end" (click)="reorder(order)">Reorder</ion-button>
      <ion-button slot="end" (click)="getHelp(order)">Get Help</ion-button>
    </ion-item>
  </ion-list>
</ion-content>
